#headerContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    overflow: auto;
}

.headerInputs {
    margin-left:10px;
}

[mat-row]:hover {
    cursor: pointer;
    background-color: lightgrey !important;
}

td {
    max-width: 200px;
}

label {
    font-size:1.2em;
}

select {
    font-size:1.2em;
    text-align:center;
}

#insertBtn {
    margin-bottom: 10px;
}
