<h1 class="banner">Database Editor</h1>

    <div id="headerContainer">
        <mat-form-field>
            <mat-label>Table:</mat-label>
            <mat-select id="tableSelect" class="headerInputs" [formControl]="tableNameSelect" (selectionChange)="onTableChange()">
                @for (table of tables; track $index) {
                    <mat-option value={{table}}>{{table}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Filter:</mat-label>
            <input matInput class="headerInputs" type="text" (input)="filterRows($event.target)">
        </mat-form-field>
        <button id="insertBtn" mat-raised-button [routerLink]="tblservice.tableName + '/insert'">Insert</button>
    </div>
    <div class="tableContainer">
            <table mat-table [dataSource]="filteredRows" matSort>
                @for (c of tableHeaders; track $index) {
                    <ng-container matColumnDef={{c}}>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{c}}</th>
                        <td mat-cell *matCellDef="let row"
                        title={{row[c]}}>{{row[c]}}</td>
                    </ng-container>
                }
                <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
                <tr mat-row *matRowDef="let row; columns: tableHeaders" 
                [routerLink]="tblservice.tableName + '/details'" [queryParams]="getQueryParams(row)"></tr>
            </table>
            <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5,10,15,20,50]"
            showFirstLastButtons>
            </mat-paginator>
    </div>
