#headerContainer {
    display:flex;
    justify-content: safe center;
    align-items: center;
    gap:50px;
    overflow: auto;
}

#headerContainer mat-form-field {
    margin-top: 20px;
}

mat-select {
    padding: 0px;
}

.headerInputs {
    margin-left:10px;
}

[mat-row]:hover {
    cursor: pointer;
    background-color: lightgrey !important;
}

label {
    font-size:1.2em;
}
