<h1 class="banner">Database Editor</h1>
@if (tableRows) {
    <div class="tableContainer">
        <div id="tableContainerHeader">
            <div>
                <label for="tableSelect"><strong>Table:</strong></label>
                <select id="tableSelect" [formControl]="tableNameSelect" (change)="onTableChange()">
                    @for (table of tables; track $index) {
                        <option value={{table}}>{{table}}</option>
                    }
                </select>
            </div>
            <button id="insertBtn" mat-raised-button [routerLink]="tblservice.tableName + '/insert'">Insert</button>
        </div>
            <table>
                <thead>
                @for (header of tableHeaders; track $index) {
                    <th>{{header}}</th>
                }
                </thead>
                <tbody>
                @for (row of tableRows; track $index) {
                    <tr [routerLink]="tblservice.tableName + '/details'" [queryParams]="getQueryParams(row)">
                        @for (col of tableHeaders; track $index) {
                            <td title={{row[col]}}>{{row[col] ? row[col].length > 30 ? row[col].slice(0, 27) + "..." : row[col] : row[col]}}</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
    </div>
}