<h1 class="banner">{{title}}</h1>
<form #recordForm="ngForm" (ngSubmit)="getSubmitInfo()?.submitFunction()">
	<div class="tableContainer">
        <table mat-table [dataSource]="record" fixedLayout="true">
            @for (c of tableHeaders; track $index) {
                <ng-container matColumnDef={{c}}>
                    <th id="{{c}}Label" mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{c}} <span class="error-msg">{{validators.isRequired(c) ? "*" : ""}}</span>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        @if (validators.getColumnSchema(c)?.DATA_TYPE === "bit") {
                            <mat-checkbox aria-labelledby="{{c}}Label" [(ngModel)]="row[c]" name={{c}}></mat-checkbox>
                        }
                        @else {
                                <mat-form-field subscriptSizing="dynamic">
                                    <input matInput attr.aria-labelledby="{{c}}Label" type="text" [(ngModel)]="row[c]" name={{c}}
                                    [minlength]="validators.getColMinLength(c)"
                                    [maxlength]="validators.getColMaxLength(c)"
                                    [required]="validators.isRequired(c)"
                                    [pattern]="validators.getPattern(c)"
                                    >
                                    <mat-error>{{validators?.getErrorMsg(c)}}</mat-error>
                                </mat-form-field>
                            }
                    </td>
                </ng-container>
            }
                <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
                <tr mat-row *matRowDef="let row; columns: tableHeaders"></tr>
        </table>
	</div>
    <div class="button-container">
        <button mat-button routerLink="" type="button">Cancel</button>
        <button mat-button type="submit" [disabled]="!recordForm.valid">{{getSubmitInfo()?.name}}</button>
        <button mat-button type="button" class="del-btn" (click)="onDelete()" *ngIf="currentTableType === TableType.Details">Delete</button>
    </div>
</form>
<!-- [disabled]="currentTableType === TableType.Details" tblservice.pKeys?.includes(col) &&  -->
<!-- [duplicateKeyValidator]="tblservice.pKeys.includes(col) ? validators: null" -->