button[mat-button]  {
    margin-top: 15px;
    margin-right: 0.8em;
}

button[mat-button].del-btn {
	color: red;
}

input {
	font-size: 1em;
	width:8em;
	text-align: center;
}

.error-container {
	padding-bottom: 10px;
}

.error-msg {
	color: red;
}
