<h1>{{title}}</h1>
<form #recordForm="ngForm" (ngSubmit)="getSubmitInfo()?.submitFunction()">
	<div class="error-container">
        @for (col of tableHeaders; track $index) {
            <div [hidden]="recordForm.controls[col]?.valid || recordForm.controls[col]?.untouched">
				<ng-container *ngIf="recordForm.controls[col]?.errors as errors">
					<div class="error-msg">
						{{col}}: {{validators.getErrorMsg(col)}}
					</div>
				</ng-container>
			</div>
        }
	</div>
	<div>
		<table>
			<thead>
                @for (header of tableHeaders; track $index) {
                    <th>
                        {{header}} <span class="error-msg">{{validators.isRequired(header) ? '*' : ''}}</span>
                    </th>
                }
			</thead>
			<tbody>
				<tr>
                    @for (col of tableHeaders; track $index) {
                        <td class="field-container">
                            @if (validators.getColumnSchema(col)?.DATA_TYPE === 'bit') {
                                <input type="checkbox" [(ngModel)]="record[col]" name={{col}}>
                            }
                            @else {
                                <input type='text' [(ngModel)]="record[col]" name={{col}}
                                [minlength]="validators.getColMinLength(col)"
                                [maxlength]="validators.getColMaxLength(col)"
                                [required]="validators.isRequired(col)"
                                [pattern]="validators.getPattern(col)"
                                [duplicateKeyValidator]="col === tablePKey ? validators: null"
                                [disabled]="col === tablePKey && currentTableType === TableType.Details">
                            }
                        </td>
                    }
				</tr>
			</tbody>
		</table>	
	</div>
	<div class="button-container">
		<button mat-button routerLink="" type="button">Cancel</button>
		<button mat-button type="submit" [disabled]="!recordForm.valid">{{getSubmitInfo()?.name}}</button>
		<button mat-button type="button" class="del-btn" (click)="onDelete()" *ngIf="currentTableType === TableType.Details">Delete</button>
	</div>
</form>