button[mat-button]  {
    margin-top: 15px;
    margin-right: 0.8em;
}

button[mat-button].del-btn {
	color: red;
}

.expandBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tableContainer {
    margin-top: 50px;
}


td {
    text-align: center;
    padding: 0px 5px;
}

input[matInput] {
    text-align:center;
}

textarea[matInput] {
    resize: vertical;
    min-height: 48px;
}

mat-form-field {
    font-size: 1em;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-error {
    white-space: wrap;
}

.error-container {
	padding-bottom: 10px;
}

.error-msg {
	color: red;
}
