html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: floralwhite; }

.banner {
    background-color: lightskyblue;
    margin: 0px;
    padding-bottom:10px;
    padding-top:10px;
    border-style: solid none;
    border-width: 2px;
    border-color: black;
    text-align: center;
}

a:visited {
	color: blue;
}

.tableContainer, .button-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

[mat-table] {
	border-collapse: collapse;
}


th {
	border: 1px solid black;
    background-color: lightskyblue !important;
}

tr {
    background-color: white;
}

td {
	border: 1px, solid, black !important;
	padding: 3px 10px 3px 10px;
}


button[mat-button], button[mat-raised-button] {
    font-size: 1.2em;
}


