/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div:has(> table){
	overflow: auto;
	white-space: nowrap;
}
td {
	padding: 0px 10px 0px 10px;
}
input {
	font-size: 1em;
	width:8em;
	text-align: center;
}
button[mat-button] {
	font-size: 1em;
	margin-top: 15px;
}

