@use '@angular/material' as mat;

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: floralwhite;
    height:100%;
}

.banner {
    background-color: lightskyblue;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid none;
    border-width: 2px;
    border-color: black;
    text-align: center;
}

a:visited {
    color: blue;
}

.tableContainer,
.button-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

[mat-table] {
    border-collapse: collapse;
    white-space: nowrap !important;
}


:root {
    @include mat.table-overrides((
        row-item-outline-color: black,
        row-item-outline-width: 1px,
        background-color: white,
    ));
    @include mat.form-field-overrides((
        container-height: 0px,
        container-vertical-padding: 10px,
        state-layer-color: red,
        // focus-state-layer-opacity: 0.5,
    ));
}

mat-paginator {
    position: sticky;
    left: 0px;
}


th {
    background-color: lightskyblue !important;
}



button[mat-button],
button[mat-raised-button] {
    font-size: 1.2em;
}