@use '@angular/material' as mat;

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: floralwhite;
    height:100%;
}

.banner {
    background-color: lightskyblue;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid none;
    border-width: 2px;
    border-color: black;
    text-align: center;
}

a:visited {
    color: blue;
}

.tableContainer,
.button-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

th {
    background-color: lightskyblue !important;
}


:root {
    @include mat.table-overrides((
        row-item-outline-color: black,
        row-item-outline-width: 1px,
        background-color: white,
    ));
}

app-table {
    @include mat.form-field-overrides((
        filled-container-color: white,
    ));
    @include mat.button-overrides((
        protected-container-color: white,
    ));
}

app-record {
    @include mat.form-field-overrides((
        container-height: 0px,
        container-vertical-padding: 10px,
    ));
}

mat-paginator {
    position: sticky;
    left: 0px;
}





button[mat-button],
button[mat-raised-button] {
    font-size: 1.2em;
}